<!DOCTYPE html>
<html>

<head>
	<title>{% block title %}{{ sitename }}{% endblock %}</title>
	<meta charset='utf-8' content='text/html' http-equiv='content-type'>
	<meta name='viewport' content='width=device-width, initial-scale=0.8'>
	<link href='{{ sitepath }}static/css/linx.css?v=1' media='screen, projection' rel='stylesheet' type='text/css'>
	<link href='{{ sitepath }}static/css/hint.css' rel='stylesheet' type='text/css'>
	<link href='{{ sitepath }}static/images/favicon.webp' rel='icon' type='image/webp'>
	<meta property="og:locale" content="en_US">
	<meta name="og:title" content="{{ sitename }}">
	<meta name="og:site_name" content="{{ sitename }}">
	<meta property="og:url" content="{{ sitepath }}">
	<meta name="keywords" content="fileshare, file sharing, media, service, application, storage, upload, pastebin, upload-pictures, pastebin-service, file-sharing, anime, cute">
	<meta name="distribution" content="web">
	<meta name="og:image" content="{{ sitepath }}static/images/favicon-hd.webp">
	<meta name="og:description" content="A simple file sharing service uwu ~!">
	<style>
		@font-face {
			font-family: 'Tauri';
			src: url('{{ sitepath }}static/fonts/Tauri/Tauri-Regular.ttf') format('truetype');
		}
	</style>
	{% block head %}{% endblock %}
</head>

<body>
	<div id="container_container">
		<div id="container">
			<div id="header">
				<div id="navigation" class="right">
					{% if auth != "header" %}
					<a href="{{ sitepath }}">Upload</a> |
					<a href="{{ sitepath }}paste/">Paste</a> |
					{% endif %}
					<a href="{{ sitepath }}API/">API</a>
					{% for custom_file_name, custom_page_name in custom_pages_names sorted %}
					| <a href="{{ sitepath }}{{ custom_file_name }}/">{{ custom_page_name }}</a>
					{% endfor %}
				</div>
				<h2><a href="{{ sitepath }}" title="{{ sitename }}">{{ sitename }}</a></h2>
			</div>

			{% block content %}{% endblock %}
			<div id="footer">
				{% if hide_powered_by != true %}
				<p>{{ extra_footer_text }} </p><a href="https://github.com/LiamPerson/linx-server-anime">Powered by linx-server-anime</a>
				{% endif %}
			</div>

		</div>
	</div>
	<div id="mascot"><img src="{{ sitepath }}static/images/mascots/blue-shark.webp" alt="Mascot" draggable="false" /></div>
	<div class="background"></div>
	<script src="{{ sitepath }}static/js/random-mascot.js" type="application/javascript"></script>
</body>

</html>